<!DOCTYPE html>
<html>
  <head>
    <title>华师匣子</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="keyword" content="华师匣子 华师匣子下载 华中师范大学 木犀团队 木犀 华师App 华师校园通">
    <meta name="description" content="华师匣子是木犀团队倾力开发的华中师范大学校园生活应用。让你无需添加 轻松查阅课程、无需电脑 一键查询成绩、无需费劲 一键查询图书信息。华师姿势，尽在匣子！">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <link rel="shortcut icon" type="image/x-icon" href="../static/images/favicon.png">
    <link rel="stylesheet" type="text/css" href="../static/main.css">
  </head>
  <body>
	<div class="container">
		<div class="main-top">
			<div class="left">
					<img src="../static/images/logo.jpg" alt="logo" class="logo">
					<img src="../static/images/light.png" alt="light" class="light">
					<img src="../static/images/title.png" alt="title" class="title">
					<img src="../static/images/contents-c.png" alt="" class="content-c">
					<img src="../static/images/contents-m.png" alt="" class="content-m">
					<a href="javascript:void(0)" class="btn btn-android btn-c" id="btn">Android版下载</a>
					<a href="http://www.wandoujia.com/apps/net.muxi.huashiapp" class="btn btn-android btn-m">Android版下载</a>
					<a href="javascript:void(0)" class="btn btn-ios">iPhone版打磨中</a>
			</div>
			<div class="right">
				<img src="../static/images/phone.png" alt="phone" class="phone">
			</div>
		</div>
		<div class="main-center">
			<div class="bg x1"></div>
			<div class="bg x2"></div>
			<div class="bg x3"></div>
		</div>
		<div class="main-bottom">
			<h3>华师姿势，尽在匣子</h3>
			<p>开启舒畅校园生活</p>
		</div>
		<footer>
			<p>华中师范大学 木犀团队</p>
			<a href="http://muxistudio.com/">加入我们</a>	
		</footer>
		<div class="erwei" id="erwei">
			<div class="close" id="close">x</div>
			<img src="../static/images/erwei.png" alt="">
			<p>扫描二维码进行下载</p>
		</div>
	</div>
	
	<script>
		window.onload = function(){
			var btn = document.getElementById("btn")
			var erwei = document.getElementById("erwei")
			function displayNew(){
				var sHeight = document.documentElement.scrollHeight
				var sWidth = document.documentElement.scrollWidth
				//可视区域
				var wHeight = document.documentElement.clientHeight

				var mask = document.createElement('div')
				mask.id = "mask";
				mask.style.height = sHeight + "px"
				mask.style.width = sWidth + "px"
				document.body.appendChild(mask)
				
				//关闭
				var close = document.getElementById('close')
				mask.onclick = close.onclick = function(){
					document.body.removeChild(mask)
					erwei.style.display = 'none'
				}
			}
			
			btn.onclick = function(){
				erwei.style.display = 'block'
				displayNew()
			}
		}
	</script>
  </body>
</html>
